[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/robertczerwony
[access "refs/for/refs/*"]
	read = group user/robertczerwony
	push = group red_group
	push = group user/robertczerwony
	label-Code-Review = -2..+2 group red_group
	label-Code-Review = -2..+2 group user/robertczerwony
	label-Verified = -1..+1 group user/robertczerwony
	rebase = group user/robertczerwony
	removeReviewer = group user/robertczerwony
	submit = group red_group
	submit = group user/robertczerwony
[access "refs/heads/*"]
	read = group user/robertczerwony
	create = group user/robertczerwony
	push = +force group user/robertczerwony
	pushMerge = group user/robertczerwony
[access "refs/tags/*"]
	push = +force group user/robertczerwony
	pushTag = group user/robertczerwony
	pushSignedTag = group user/robertczerwony
